.App {
  min-height: screen;
  width: full;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: screen;
  width: full;
  flex-direction: row;
  place-items: center;
  display: flex;
  margin-bottom: 1.5vw;
}

.Title {
  color: #4b4a67;
  font-size: 8vw;
  text-align: center;
  justify-self: center;
  display: flex;
}

.Button {
  width: 8vw;
  height: 8vw;
  border: none;
  background: transparent;
  display: flex;
}

.Icon {
  width: 8vw;
  color: #4b4a67;
  display : flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}