/* Palette 
  English Violet #4B4A67
  Salmon Pink #FD96A9
  Celadon #8FD694
  Dark Spring Green #226F54
  Tea Green #C8D6AF
*/

body {
  margin: 2vw;
  font-family: 'MonomaniacOne-Regular';
  background-color: #c8d6af;
}

@font-face {
  font-family: "MonomaniacOne-Regular";
  src: local("MonomaniacOne-Regular"),
    url("./fonts/MonomaniacOne-Regular.ttf") format("truetype");
  font-weight: normal;
}