body {
  margin: 0;
  font-family: 'MonomaniacOne-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MonomaniacOne-Regular";
  src: local("MonomaniacOne-Regular"),
    url("./fonts/MonomaniacOne-Regular.ttf") format("truetype");
  font-weight: normal;
}